nav{
    width: 50px;
    margin: 0px 20px 0px 20px;
    height: calc(80% - 80px);
    position: fixed;
    top: 10%;
    background: var(--color1);
    border-radius: 1000px;
}
nav .to-top{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: -80px;
    color: #fff;
    background: var(--color1);
    font-size: 26px;
}
nav .menu{
    width: 100%;
    height: 14.285%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    color: #fff;
}
.to-top-burger{
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 6px;
    display: none;
    align-items: center;
    justify-content: center;
    bottom: 20px;
    right: 20px;
    color: #fff;
    background: var(--color1);
    font-size: 26px;
}

/* SCROLLBAR STYLE */
::-webkit-scrollbar {
    width: 0px;
}


/* BURGER MENU */
.active-burger-menu{
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 45px;
    display: none;
    cursor: pointer;
}
.burger-menu{
    width: 320px;
    height: calc(100vh - 40px);
    position: fixed;
    top: 20px;
    right: -320px;
    background: #fff;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: .5s;
}
.burger-menu .menu{
    width: 96%;
    position: relative;
    left: 2%;
    margin: 10px 0px 10px 0px;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    transition: .5s;
    border-radius: 5px;
}
.burger-menu .menu:hover{
    background: rgb(240, 240, 240);
}
.burger-menu .menu i{
    margin-right: 20px;
    font-size: 22px;
}
.burger-menu .close-menu{
    font-size: 40px;
    margin-top: 10px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0px 20px 0px 20px;
    cursor: pointer;
}
.burger-menu .close-menu i{
    width: 100%;
    text-align: right;
}
.burger-menu-blur{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: #20202027;
    backdrop-filter: blur(2px);
    display: none;
}


main{
    width: 100%;
    position: relative;
    padding: 20px;
    padding-left: 90px;
}
main .section1{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
main .section1 .container{
    width: 70%;
    text-align: center;
}
main .section1 .container .medias{
    display: flex;
    width: 150px;
    justify-content: space-between;
    font-size: 40px;
    position: relative;
    left: 50%;
    margin-left: -75px;
    margin-top: 20px;
}
main .section1 .container h1{
    font-size: 100px;
    font-weight: 800;
}
main .section1 .container h1 span{
    color: var(--color1);
}
main .section1 .container h3{
    font-size: 26px;
    font-weight: 80
}
main .section1 .container p{
    width: 800px;
    position: relative;
    left: 50%;
    margin-left: -400px;
    font-size: 20px;
}



main .section2{
    width: calc(100% + 110px);
    position: relative;
    left: -90px;
    background: #101010;
    padding-left: 120px;
    display: flex;
    color: #fff;
}
main .section2 .container1{
    width: 60%;
    display: flex;
    align-items: center;
}
main .section2 .container1 .box{
    width: 70%;
    position: relative;
    left: 15%;
}
main .section2 .container1 .box h1{
    font-size: 40px;
}
main .section2 .container1 .box h1 span{
    color: var(--color1);
}
main .section2 .container1 .box p{
    margin-top: 15px;
    font-size: 17px;
}section1
main .section2 .container1 .box .download-cv{
    width: 240px;
    height: 48px;
    border-radius: 1000px;
    background: #202020;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 15px;
    color: rgb(230, 230, 230);
    margin-top: 30px;
}
main .section2 .container2{
    width: 40%;
}
main .section2 .container2 img{
    height: 400px;
    margin: 80px 0px 80px 0px;
    border-radius: 10px;
}


main .section3{
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0px 50px 0px;
}
main .section3 .programmingLanguage-img{
    width: 16.666%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0px 40px 0px;
    filter: grayscale(100%);
    transition: filter 0.5s ease;
}
main .section3 .programmingLanguage-img:hover{
    filter: grayscale(0);
}
main .section3 .programmingLanguage-img img{
    width: 70px;
}


main .section4{
    width: 94%;
    position: relative;
    left: 3%;
    background: #fff;
    color: #101010;
    padding-top: 70px;
}
main .section4 h1{
    font-size: 40px;
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}
main .section4 h1 span{
    color: var(--color1);
}
main .section4 .container .box1{
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 17px;
}
main .section4 .container .box2{
    display: flex;
    justify-content: center;
    width: 100%;
    border-top: 1px solid #101010;
    font-size: 17px;
}
main .section4 .container .box1 .sub-box{
    width: 33%;
    padding: 20px 30px 50px 30px;
    margin-right: 60px;
    border-left: solid 1px #101010;
    position: relative;
}
main .section4 .container .box2 .sub-box{
    width: 33%;
    padding: 50px 30px 20px 30px;
    margin-right: 60px;
    border-left: solid 1px #101010;
    position: relative;
}
main .section4 .container .box1 .sub-box .dot{
    width: 10px;
    height: 10px;
    border-radius: 1000px;
    background: var(--color1);
    position: absolute;
    bottom: -5px;
    left: -5px;
}
main .section4 .container .box2 .sub-box .dot{
    width: 10px;
    height: 10px;
    border-radius: 1000px;
    background: var(--color1);
    position: absolute;
    bottom: -5px;
    left: -5px;
}



main .section5{
    width: 94%;
    position: relative;
    color: #101010;
    left: 4%;
    padding-top: 150px;
}
main .section5 .title{
    font-size: 40px;
}
main .section5 .title span{
    color: var(--color1);
}
main .section5 .categories{
    display: flex;
    margin: 20px 0px 20px 0px;
    flex-wrap: wrap;
}
main .section5 .categories .category{
    padding: 0px 20px 0px 20px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1000px;
    font-weight: 400;
    border: solid 1px #101010;
    margin: 5px;
    transition: .5s;
    cursor: pointer;
}
main .section5 .categories .category:hover{
    border: 1px solid var(--color1);
}
main .section5 .categories #active{
    background: var(--color1);
    color: #fff;
    font-weight: 600;
    border: none;
}
main .section5 .projects-grid{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
main .section5 .projects-grid .project{
    width: 24%;
    margin: .5%;
    padding-bottom: 60px;
    position: relative;
}
main .section5 .projects-grid .project h1{
    font-size: 20px;
}
main .section5 .projects-grid .project p{
    font-size: 16px;
}
main .section5 .projects-grid .project:first-child{
    margin-left: unset;
}
main .section5 .projects-grid .project:last-child{
    margin-right: unset;
}
main .section5 .projects-grid .project img{
    width: 100%;
}
main .section5 .projects-grid .project .icons{
    display: flex;
    margin: 10px 0px 5px 0px;
}
main .section5 .projects-grid .project .icons .icon{
    margin: 0px 6px 0px 6px;
}
main .section5 .projects-grid .project .icons .icon img{
    width: 24px;
}
main .section5 .projects-grid .project .view-more{
    width: 100%;
    height: 40px;
    display: flex;
    padding-left: 20px;
    align-items: center;
    border-radius: 6px;
    color: #fff;
    font-weight: 600;
    position: absolute;
    bottom: 0px;
    background: var(--color1);
}
main .section5 .see-all{
    height: 46px;
    width: 360px;
    border-radius: 1000px;
    background: #101010;
    color: #fff;
    position: relative;
    left: 50%;
    margin: 20px 0px 0px 0px;
    margin-left: -180px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .section6{
    width: calc(100% + 110px);
    position: relative;
    left: -90px;
    background: #101010;
    display: flex;
    color: #fff;
    margin-top: 100px;
    flex-wrap: wrap;
    padding: 60px 50px 60px 0px;
    padding-left: 120px;
}
main .section6 .box{
    width: 31.3%;
    margin: 1%;
    background: #202020;
    border-radius: 10px;
    padding: 30px;
}
main .section6 .box h1{
    font-size: 26px;
    margin-bottom: 10px;
    color: rgb(230, 230, 230);
}
main .section6 .box p{
    color: #909090;
}

main .section7{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 100px 0px 100px 0px;
    flex-wrap: wrap;
}
main .section7 .language{
    width: 20%;
}
main .section7 .language img{
    width: 160px;
    border-radius: 20px;
}
main .section7 .language p{
    font-size: 18px;
}
main .section7 .language p span{
    font-weight: 600;
}


main .section8{
    width: 90%;
    position: relative;
    left: 5%;
}
main .section8 .swiper-slide{
    width: 80%;
}
main .section8 img{
    width: 100%;
}
main .section8 .title{
    font-size: 40px;
    text-align: center;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
}
main .section8 .title span{
    color: var(--color1);
}
main .section8 .mySwiper1{
    display: none;
}
main .section8 .mySwiper2{
    display: none;
}
main .section8 .mySwiper3{
    display: none;
}
main .section8 .mySwiper4{
    display: none;
}


footer{
    width: 100%;
    height: 70px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #101010;
    color: #fff;
}
footer p span{
    color: var(--color1);
}


@media (max-width: 1130px){
    nav{
        display: none;
    }
    .to-top-burger{
        display: flex;
    }
    main{
        padding: 20px;
    }
    .active-burger-menu{
        display: block;
    }
}
@media (max-width: 1130px){
    main .section1 .container{
        width: 90%;
    }
}
@media (max-width: 900px){
    main .section1 .container p{
        width: 100%;
        margin: unset;
        left: 0%;
    }
}
@media (max-width: 710px){
    main .section1 .container h1{
        font-size: 70px;
    }
    main .section1 .container h3{
        font-size: 20px;
    }
    main .section1 .container p{
        font-size: 18px;
        margin-top: 5px;
    }
}
@media (max-width: 515px){
    main .section1 .container{
        width: 100%;
    }
    main .section1 .container h1{
        font-size: 58px;
    }
}

@media (max-width: 1250px){
    main .section2 .container1 .box p{
        font-size: 16px;
    }
}
@media (max-width: 1130px){
    main .section2 .container1{
        width: 50%;
    }
    main .section2 .container1 .box{
        width: 90%;
        left: 0%;
    }
    main .section2 .container2{
        width: 50%;
    }
    main .section2 .container2 img{
        position: relative;
        height: fit-content;
        width: 80%;
        left: 10%;
    }
}
@media (max-width: 860px){
    main .section2 .container1{
        width: 60%;
        padding: 60px 0px 60px 0px;
    }
    main .section2 .container2{
        width: 40%;
    }
    main .section2 .container2 img{
        width: 90%;
        left: 0%;
    }
    main .section2 .container1 .box h1{
        font-size: 30px;
    }
}
@media (max-width: 790px){
    main .section2 .container1 .box p{
        font-size: 15px;
    }
}
@media (max-width: 750px){
    main .section2{
        display: block;
    }
    main .section2 .container1{
        position: relative;
        width: 90%;
    }
    main .section2 .container2{
        position: relative;
        width: 90%;
    }
    main .section2 .container2 img{
        margin: 0px 0px 40px 0px;
        width: 100%;
        left: 0%;
    }
    main .section2 .container1 .box h1{
        font-size: 40px;
    }
    main .section2 .container1 .box p{
        font-size: 18px;
    }
}
@media (max-width: 520px){
    main .section2 .container1{
        width: 100%;
        left: -7.5%;
    }
    main .section2 .container2{
        width: 100%;
        left: -7.5%;
    }
    main .section2 .container1 .box p{
        font-size: 16px;
    }
}


@media (max-width: 980px){
    main .section3 .programmingLanguage-img{
        width: 25%;
    }
}
@media (max-width: 550px){
    main .section3 .programmingLanguage-img{
        width: 33.3%;
    }
    main .section3 .programmingLanguage-img img{
        width: 50px;
    }
}


@media (max-width: 980px){
    main .section4 .container .box1{
        font-size: 16px;
    }
    main .section4 .container .box2{
        font-size: 16px;
    }
    main .section4 .container .box1 .sub-box{
        width: 33%;
        padding: 20px 0px 50px 20px;
        margin-right: 20px;
        border-left: solid 1px #101010;
        position: relative;
    }
    main .section4 .container .box2 .sub-box{
        width: 33%;
        padding: 50px 0px 20px 20px;
        margin-right: 20px;
        border-left: solid 1px #101010;
        position: relative;
    }
}
@media (max-width: 790px){
    main .section4 .container{
        display: flex;
    }
    main .section4 .container .box1{
        width: 50%;
        display: block;
        justify-content: unset;
    }
    main .section4 .container .box2{
        border: unset;
        width: 50%;
        border-left: 1px solid #101010;
        display: block;
        justify-content: unset;
    }
    main .section4 .container .box1 .sub-box{
        border: unset;
        width: 100%;
        left: 0%;
        margin: unset;
        border-top: 1px solid #101010;
        padding: 20px 20px 50px 0px;
    }
    main .section4 .container .box2 .sub-box{
        border: unset;
        border-top: 1px solid #101010;
        width: 100%;
        left: 0%;
        margin: unset;
        top: 17%;
        position: relative;
        padding: 20px 0px 50px 20px;
    }
    main .section4 .container .box1 .sub-box .dot{
        width: 10px;
        height: 10px;
        border-radius: 1000px;
        background: var(--color1);
        position: absolute;
        top: -5px;
        left: calc(100% - 5px);
    }
    main .section4 .container .box2 .sub-box .dot{
        width: 10px;
        height: 10px;
        border-radius: 1000px;
        background: var(--color1);
        position: absolute;
        top: -5px;
        left: -5px;
    }
}
@media (max-width: 500px){
    main .section4 .container{
        display: block;
    }
    main .section4 .container .box1{
        width: 90%;
        position: relative;
        left: 5%;
    }
    main .section4 .container .box2{
        width: 90%;
        border: unset;
        position: relative;
        left: 5%;
    }
    main .section4 .container .box1 .sub-box{
        border-left: 1px solid #101010;
        padding: 20px 0px 50px 20px;
    }
    main .section4 .container .box2 .sub-box{
        border-left: 1px solid #101010;
        padding: 20px 0px 50px 20px;
    }
    main .section4 .container .box1 .sub-box .dot{
        width: 10px;
        height: 10px;
        border-radius: 1000px;
        background: var(--color1);
        position: absolute;
        top: -5px;
        left: -5px;
    }
}


@media (max-width: 1420px){
    main .section5 .projects-grid .project h1{
        font-size: 18px;
    }
    main .section5 .projects-grid .project p{
        font-size: 15px;
    }
}
@media (max-width: 1200px){
    main .section5 .projects-grid .project{
        width: 49%;
        margin-top: 20px;
    }
    main .section5 .projects-grid .project h1{
        font-size: 24px;
    }
    main .section5 .projects-grid .project p{
        font-size: 18px;
        margin: 5px 0px 10px 0px;
    }
}
@media (max-width: 830px){
    main .section5 .projects-grid .project h1{
        font-size: 20px;
    }
    main .section5 .projects-grid .project p{
        font-size: 16px;
    }
    main .section5 .projects-grid .project .icons .icon img{
        width: 18px;
    }
}
@media (max-width: 560px){
    main .section5 .projects-grid .project h1{
        font-size: 18px;
    }
    main .section5 .projects-grid .project p{
        font-size: 15px;
    }
}
@media (max-width: 490px){
    main .section5 .projects-grid .project{
        width: 99%;
    }
    main .section5 .projects-grid .project h1{
        font-size: 24px;
    }
    main .section5 .projects-grid .project p{
        font-size: 18px;
    }
}

@media (max-width: 1000px){
    main .section6{
        padding: 60px 20px 60px 90px;
    }
    main .section6 .box{
        width: 48%;
    }
}
@media (max-width: 720px){
    main .section6 .box{
        width: 98%;
        margin: 10px 0px 10px 0px;
    }
}

@media (max-width: 1030px){
    main .section7 .language{
        width: 25%;
        margin: 30px 0px 30px 0px;
    }
    main .section7 .language img{
        position: relative;
        left: 50%;
        margin-left: -60px;
        width: 120px;
        border-radius: 8px;
    }
    main .section7 .language h1{
        width: 100%;
        text-align: center;
        margin-top: 10px;
    }
    main .section7 .language p{
        width: 100%;
        text-align: center;
    }
}
@media (max-width: 720px){
    main .section7 .language{
        width: 50%;
    }
    main .section7 .language img{
        position: relative;
        left: 50%;
        margin-left: -90px;
        width: 180px;
        border-radius: 8px;
    }
}
@media (max-width: 500px){
    main .section7 .language img{
        position: relative;
        left: 50%;
        margin-left: -60px;
        width: 120px;
        border-radius: 8px;
    }
}


@media (max-width: 1420px){
    main .section8 .mySwiper{
        display: none;
    }
    main .section8 .mySwiper1{
        display: block;
    }
}
@media (max-width: 1200px){
    main .section8 .mySwiper1{
        display: none;
    }
    main .section8 .mySwiper2{
        display: block;
    }
}
@media (max-width: 850px){
    main .section8 .mySwiper2{
        display: none;
    }
    main .section8 .mySwiper3{
        display: block;
    }
}
@media (max-width: 590px){
    main .section8 .mySwiper3{
        display: none;
    }
    main .section8 .mySwiper4{
        display: block;
    }
}